.works {
  display: none;
}

  @media screen and (min-width: 1200px) {
    .works {
      margin-bottom: 94px;
      display: block;
  
      &__title {
        color: $titleColor;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
      }
      
      &__list {
        display: flex;
        gap: 30px;
      }
      
      &__item {
        position: relative;
      }
      
      &__img {
      }
      
      &__subtitle {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(47, 48, 58, 0.8);
        width: 100%;
        height: 70px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  